@page "/"

@using BlazorGetElementByIdBug.Components

<div id="TestPage">
    <div id="Toolbar">
        <label>Color: </label>
        <ColorSwatch />
    </div>
    <div id="Content">

    </div>
</div>

@code
{

}
